html { 
  height: 100%;
}

body {
  height: 100%;
}

#main-content {
  padding-bottom: 4em;
}

#banner {
  height: 400px;
  background-color: #bcd4da;
}

.tile {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  margin-top: 3em;
  background-color: #bcd4da;
}

footer {
  background-color: #bcd4da;
}

footer .row {
  margin: 1em 0;
}
