* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 16pt;
	background-color: #bdc3c7;
}

body {
	margin: 0;
	padding: 0;
}

#container {
	margin: 0;
	width: 100%;
	height: 100%;
}

h2.section-title {
	font-size: 2em;
	font-family: 'Candal', sans-serif;
	color: #045F7F;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}