* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 16pt;
	background: url('../images/main-bg.png');
}

body {
	margin: 0;
	padding: 0;
}

#container {
	margin: 0;
	width: 100%;
	height: 100%;
}

h2.section-title {
	font-size: 2em;
	font-family: 'Candal', sans-serif;
	color: #ecf0f1;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#skills {
	display: none;
}

#hank {
	display: none;
}