html {
	width: 100%;
	height: 100%;
	font-size: 16pt;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.banner {
  background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.banner.main {
	height: 100vh;
	min-height: 400px;
	background-image: url('../images/seattle-large.jpg');
	text-align: center;
}

.main:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.intro {
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	width: 75%;
}

img.portrait {
	max-width: 200px;
	border: 10px solid #fff;
	display: block;
	margin: 0 auto;
}